<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!--数据库驱动包路径 -->
    <!--<classPathEntry location="C:\Users\Administrator\Downloads\mysql-connector-java-5.1.40.jar"/>-->

    <context id="testTables" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>

        <!--beginningDelimiter和endingDelimiter：指明数据库的用于标记数据库对象名的符号，比如ORACLE就是双引号，MYSQL默认是`反引号；-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!--<plugin type="org.mybatis.generator.extension.LombokPlugin"/>-->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="com.lzr.common.BaseMapper"/>
        </plugin>
        <!--<plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!--<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>-->
        <!--<commentGenerator type="org.mybatis.generator.extension.RemarksCommentGenerator">-->
        <commentGenerator>
            <!-- 格式化java代码 -->
            <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
            <!-- 格式化XML代码 -->
            <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
            <!-- 是否禁止显示日期 true：是 ： false:否 -->
            <property name="suppressDate" value="false"/>
            <!-- 是否去除自动生成的所有注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
            <!-- 是否添加字段注释 true:是 false：否 -->
            <property name="addRemarkComments" value="false"/>
        </commentGenerator>

        <!--MySql数据库连接的信息：驱动类、连接地址、用户名、密码 -->
        <!--<jdbcConnection driverClass="com.mysql.jdbc.Driver"-->
        <!--connectionURL="jdbc:mysql://47.104.16.79:3306/al74_connection"-->
        <!--userId="root" password="root">-->
        <!--<property name="useInformationSchema" value="true"/>-->
        <!--</jdbcConnection>-->

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3307/readwriteseparation?tinyInt1isBit=false"
                        userId="onlyRead" password="root">
        <property name="useInformationSchema" value="false"/>
        </jdbcConnection>

        <!-- 默认false，把jdbc decimal 和 numeric 类型解析为 Integer，为 true时把jdbc decimal 和 numeric 类型解析为java.math.BigDecimal -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>


        <!-- targetProject:生成PO实体类的位置 -->
        <javaModelGenerator targetPackage="com.lzr.model" targetProject="src/main/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="true"/>
            <!-- 从数据库返回的值被清理前后的空格 -->
            <property name="trimStrings" value="true"/>
            <!--<property name="rootClass" value="com.cqfae.pmo.hrm.app.dao.model.AbBaseDO"/>-->
        </javaModelGenerator>
        <!-- targetProject:mapper.xml映射文件生成的位置 -->
        <sqlMapGenerator targetPackage="/mapper" targetProject="src/main/resources">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!--&lt;!&ndash; targetPackage：mapper接口生成的位置 &ndash;&gt;-->
        <javaClientGenerator targetPackage="com.lzr.dao" targetProject="src/main/java"
                             type="XMLMAPPER">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 指定数据库表 -->
        <table tableName="sys_user" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

    </context>
</generatorConfiguration>
